{%extends 'photo_app/base.html' %}

{% block content %}

 <div class="container mt-3">
    <form action="{% url 'photo_app:edit' pic.id %}" method='post'>
        {% csrf_token %}
      <img src="{{pic.path.url}}" width=360 alt="inmage">
      <lable>Change desctiption</lable>
        <div class="mb-3">
          <input type="text" class="form-control" value="{{pic.description}} name="desctiption">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
 </div>
{% endblock %}